.projectsWrapper{
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.projectsWrapper h1{
    margin-bottom: 10px;
    color: var(--title-color);
    font: 700 2rem Berkshire Swash;
}

.cardsProjectWrapper{
    width: 100%;
    display: flex;
}




