.anchorSlide {
  color: #FFF;
  border: 2px solid var(--title-color);
  border-radius: 0px;
  
  padding: 18px 36px;
  display: inline-block;
  font: 400 1.3rem Ranchers;
  
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 var(--title-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  
  text-decoration: none;
  transition: ease-out 0.4s;
}

.anchorSlideRight:hover {
  box-shadow: inset 400px 0 0 0 var(--title-color);
}