.containerSobre {
  width: 85%;
  display: flex;
  margin: 60px auto;
}

.Chill {
  width: 55%;
}
.Chill img {
  width: 100%;
}

.text {
  width: 45%;
}

.text p:nth-child(1) {
  color: var(--title-color);
  font-size: 40px;
  font-family: "Berkshire Swash", cursive;
  margin-bottom: 20px;
}

.text p:nth-child(2) {
  color: white;
  font-size: 25px;
  font-family: "Ranchers", cursive;
}

@media (max-width: 767px) {
  .containerSobre {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .text {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  .Chill,
  .Chill img {
    width: 100%;
  }

  .SwipeButton {
    float: none;
    margin: 0;
  }

  .text p:nth-child(1),
  .text p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .text,
  .Chill {
    width: 50%;
  }

  .text p:nth-child(1),
  .text p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
