.containerSobre {
  width: 90%;
  display:flex;
  flex-direction: column;
  margin: 30px auto;
}

.Chill {
  width: 90%;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.Chill img {
  width: 100%;
}

.chillAnimation{
  width: 90%;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 90%;
  margin: 0 auto;
}

.text p:nth-child(1) {
  color: var(--title-color);
  font-size: 40px;
  font-family: "Berkshire Swash", cursive;
  margin-bottom: 20px;
}

.text p:nth-child(2) {
  color: white;
  font-size: 25px;
  font-family: "Ranchers", cursive;
}

.tecnologies{
  width: 90%;
  margin: 20px auto 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecnologies ul{
  display: flex;
  flex-direction: column;
}

.tecnologies ul h1{
  margin-bottom: 20px;
  font: 400 1.8rem Berkshire Swash;
  color: var(--title-color);
}

.tecnologies li{
  font: 400 1.4rem Ranchers;
  color: white;
  display: block;
  align-self: center;
}

.hide{
  display: none;
}

@media(min-width:1024px) and (max-width:1158px){
  .text p:nth-child(2) {
    font-size: 21px;
  }
}

@media(min-width:1024px){
  .containerSobre{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas: 
    'animation textp textp'
    'animation textp textp'
    'tecn img img';
  }

  .containerSobre > button{
    display: none;
  }

  .dots{
    display: none;
  }

  .chillAnimation{
    grid-area: animation;
  }
  
  .Chill{
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .Chill img{
    max-width: 325px;
  }

  .text{
    grid-area: textp;
    width: 100%;
  }

  .tecnologies{
    grid-area: tecn;
    width: 100%;
  }
}
