.contactWrapper{
    width: 90%;
    margin: 40px auto 10px auto;

    display: flex;
    flex-direction: column;
}

.contactWrapper h1{
    color: var(--title-color);
    font: 400 1.8rem  Berkshire Swash;
    margin-bottom: 30px;
}

.contactWrapper .linkedinWrapper,
.contactWrapper .githubWrapper,
.contactWrapper .emailWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    margin-bottom: 10px;
    
    border: solid 1px rgba(0, 0, 0, 0);

    border-radius: 8px;
}

.contactWrapper .emailWrapper input{
    position: absolute;
    top:30px;
    left: 5px;
    
    width: 50%;
    
    font: 400 1.1rem Berkshire Swash;
    background-color: rgba(0, 0, 0, 0);
    color: var(--title-color);
    
    border: none;
    opacity: 0;

    transition: 0.8s;
}

.contactWrapper .emailWrapper button:hover + input{
    opacity: 1;
}

.contactWrapper .linkedinWrapper:hover,
.contactWrapper .githubWrapper:hover,
.contactWrapper .emailWrapper:hover{
    border: solid 1px var(--title-color);
}

.animationWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 50%;
}

.contactWrapper .linkedinWrapper a,
.contactWrapper .githubWrapper a,
.contactWrapper .emailWrapper button {
    color: white;
    margin-left: 5px;
    text-align:center;

    width: 50%;
    outline: none;
    
    cursor: pointer;
    text-decoration: none;
    font: 400 1.3rem Berkshire Swash;
}

@media(min-width:768px){
    .contactWrapper{
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8px;
        grid-template-areas: 
        'titulo titulo titulo'
        'linkedin github email';
    }
    
    .contactWrapper h1{
        grid-area: titulo;
    }
    
    .contactWrapper .linkedinWrapper a{
        grid-area: linkedin;
        text-align: center;       
    }
    .contactWrapper .githubWrapper a{
        grid-area: github;
    }
    .contactWrapper .emailWrapper button{
        grid-area: email;
    }
}