.contactWrapper{
    width: 90%;
    margin: 40px auto 10px auto;

    display: flex;
    flex-direction: column;
}

.contactWrapper h1{
    color: var(--title-color);
    font: 400 1.8rem  Berkshire Swash;
    margin-bottom: 30px;
}

.contactWrapper .linkedinWrapper,
.contactWrapper .githubWrapper,
.contactWrapper .emailWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    margin-bottom: 10px;
    
    border: solid 1px var(--title-color);

    border-radius: 8px;
}

.animationWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 40%;
}

.contactWrapper .linkedinWrapper a,
.contactWrapper .githubWrapper a,
.contactWrapper .emailWrapper a {
    color: white;
    margin-left: 5px;
    width: 60%;
    
    text-decoration: none;
    font: 400 1.3rem Berkshire Swash;
}

@media(min-width:768px){
    .contactWrapper{
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8px;
        grid-template-areas: 
        'titulo titulo titulo'
        'linkedin github email';
    }
    
    .contactWrapper h1{
        grid-area: titulo;
    }
    
    .contactWrapper .linkedinWrapper a{
        grid-area: linkedin;
        
        display: flex;
        align-content: center;
    }
    .contactWrapper .githubWrapper a{
        grid-area: github;
    }
    .contactWrapper .emailWrapper a{
        grid-area: email;
    }
}